<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/administrators">Administrators</a>
  <a href="/patients">Patients</a>
  <a href="/doctors">Doctors</a>
  <a href="/ailments">Ailments</a>
  <a href="/facilities">Facilities</a>
  <a href="/sign_in">Sign-In</a>
</div>

<h1><%= @facility.name %></h1>

<head>
<meta HTTP-EQUIV="REFRESH" content="10; url=http://localhost:3000/light">
</head>

<h2><u>Facility Administrator:</u> <%= link_to @facility.administrator.name, administrator_path(@facility.administrator) %></h2>
<h3><u>Facility Status:</u> <%= @facility.status %>
<hr>
<h3><u>Doctors</u></h3>
<% @facility.doctors.all.each do | doctor | %>
    Name: <%= link_to doctor.name, doctor_path(doctor) %><br>
    Specialty: <%= doctor.specialty %><br><br>
<% end %>
<hr>
<h3><u>Patients</u></h3>
<% @facility.patients.all.each do | patient | %>
    Name: <%= link_to patient.name, patient_path(patient) %><br>
    Ailment: <%= patient.ailment.name %><br><br>
<% end %>
<br>
<br>
<%= button_to "Edit Facility", {:controller => :facilities, :action => 'edit', :id => @facility.id}, :method => :get %>

<style>
body {
    text-align: center;
    background-image: url('https://motionarray.imgix.net/preview-145191-azfd2K96bO-high_0000.jpg?w=660&q=60&fit=max&auto=format');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}

div {
    display: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

/* Add a black background color to the top navigation */
.topnav {
    width: 100%;
    opacity: 70%;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    position: relative;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:last-child {
    float: right;
    margin-right: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: blue;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: purple;
}
</style>