<% if flash[:errors] %>
    <% flash[:errors].each do | error | %>
        <li style="color: red"><%= error %></li>
    <% end %>
<% end %>

<%= form_with model: @doctor do | f | %>
    
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
    <br>
    <br>
    <strong><%= f.label :specialty %></strong><br>
    <p><strong> Please Use only the Following: </strong></p>
    <p> (disturbed, smoking, amnesia, hallucinogenic) </p>
    <%= f.text_field :specialty %>
    <br>
    <br>
    <strong><%=f.label :status%></strong><br>
    <p><strong> Please Use only the Following: </strong></p>
    <p> (healthy, warning, incompacitated) </p>
    <%= f.text_field :status %>
    <br>
    <br>
    Facility:<br> <%= f.collection_select :facility_id, @facilities, :id, :name %>
    <br>
    <br>
    <%= f.submit %>

<% end %>



<% #In the doctor’s path, you are able to create a doctor with it’s params. %>