<% if flash[:errors] %>
    <% flash[:errors].each do | error | %>
        <li style="color: red"><%= error %></li>
    <% end %>
<% end %>

<%=form_with model: @administrator do |f|%>
Name<br>
<%=f.text_field :name%>
<br/>
<br/>
Username<br>
<%=f.text_field :user_name%>
<br/>
<br/>
Password<br>
<%=f.password_field :password%>
<br/>
<br/>
<strong><%=f.label :status%></strong><br>
<p><strong> Please Use only the Following: </strong></p>
<p> (healthy, warning, incompacitated) </p>
<%=f.text_field :status%>
<br/>
<br/>
<%=f.submit "Submit"%>
<%end%>




<% #As a New Administrator you are able to create a brand new administrator account, your account. %>